{% extends 'company_app/base.html'%}

{% block title %}Index page{% endblock %}

{% block content %}
<h1>Home page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi bibendum neque egestas congue quisque egestas. Fringilla urna porttitor rhoncus dolor purus non. Velit laoreet id donec ultrices tincidunt arcu non. Quis lectus nulla at volutpat diam ut venenatis tellus in. Aliquam sem et tortor consequat id. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Id diam maecenas ultricies mi. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Sed egestas egestas fringilla phasellus faucibus scelerisque. Tortor consequat id porta nibh.</p>
{% endblock %}